Transbronchial forceps biopsies were performed in the {{ proc.lung_segment }} with a total of {{ proc.samples_collected }} samples collected using {{ proc.forceps_tools }}.
{% if proc.tests %}Samples were sent for {{ proc.tests | join(', ') }}.{% endif %}
