{# ============================================================================
   INTERVENTIONAL PULMONOLOGY PROCEDURAL REPORT TEMPLATES
   Main Template File - Import All Macros
   
   Usage: Import this file to access all IP procedure templates
   
   {% from 'main.j2' import * %}
   
   Or import specific template files:
   {% from '01_minor_trach_laryngoscopy.j2' import trach_tube_change %}
   ============================================================================ #}

{# Import base macros and utilities #}
{% from 'base.j2' import 
    specimen_list,
    chest_ultrasound_findings,
    ventilation_parameters,
    procedure_tolerance,
    anesthesia_block,
    cxr_ordered,
    staff_present,
    consent_block,
    timeout_block,
    rose_result
%}

{# Import minor procedures and tracheostomy/laryngoscopy #}
{% from '01_minor_trach_laryngoscopy.j2' import 
    minor_trach_bleeding,
    chemical_cauterization,
    trach_tube_change,
    percutaneous_trach,
    trach_revision,
    tracheobronchoscopy_via_trach,
    trach_decannulation,
    trach_downsize,
    granulation_debridement,
    flexible_laryngoscopy
%}

{# Import core bronchoscopy procedures #}
{% from '02_core_bronchoscopy.j2' import 
    bronchial_washing,
    bronchial_brushings,
    bronchoalveolar_lavage,
    endobronchial_biopsy,
    transbronchial_lung_biopsy,
    transbronchial_needle_aspiration,
    balloon_dilation,
    airway_stent_placement,
    endobronchial_tumor_destruction,
    tumor_destruction_multimodal,
    therapeutic_aspiration,
    endobronchial_tumor_excision,
    rigid_bronchoscopy,
    foreign_body_removal,
    stent_removal_revision,
    endobronchial_hemostasis,
    endobronchial_blocker,
    pdt_light_application,
    pdt_debridement,
    cryo_extraction_mucus,
    awake_foi,
    dlt_confirmation,
    stent_surveillance
%}

{# Import navigation/robotic/EBUS procedures #}
{% from '03_navigation_robotic_ebus.j2' import 
    emn_bronchoscopy,
    fiducial_marker_placement,
    radial_ebus_survey,
    robotic_bronchoscopy_ion,
    ion_registration_complete,
    ion_registration_partial,
    ion_registration_drift,
    linear_ebus_tbna,
    rebus_guide_sheath_sampling,
    cbct_assisted_bronchoscopy,
    transbronchial_dye_marking,
    robotic_bronchoscopy_monarch,
    ebus_intranodal_forceps_biopsy,
    ebus_19g_fnb
%}

{# Import BLVR and Cryo procedures #}
{% from '04_blvr_cryo.j2' import 
    endobronchial_valve_placement,
    endobronchial_valve_removal_exchange,
    post_blvr_protocol,
    transbronchial_cryobiopsy,
    endobronchial_cryoablation,
    cryoablation_alternative
%}

{# Import pleural procedures #}
{% from '05_pleural.j2' import 
    chest_tube_placement,
    thoracentesis,
    thoracentesis_manometry,
    tpc_placement,
    tpc_removal,
    intrapleural_fibrinolysis,
    medical_thoracoscopy,
    pigtail_catheter_placement,
    transthoracic_needle_biopsy,
    thoravent_placement,
    chemical_pleurodesis_chest_tube,
    chemical_pleurodesis_ipc,
    ipc_exchange,
    chest_tube_exchange,
    chest_tube_removal,
    us_guided_pleural_biopsy,
    focused_thoracic_ultrasound
%}

{# Import other interventions #}
{% from '06_other_interventions.j2' import 
    whole_lung_lavage,
    eus_b,
    paracentesis,
    peg_placement,
    peg_removal_exchange,
    bpf_localization,
    ebv_for_air_leak,
    bpf_sealant_application
%}

{# Import clinical assessment and follow-up templates #}
{% from '07_clinical_assessment.j2' import 
    pre_anesthesia_assessment,
    general_bronchoscopy_note,
    ip_operative_report,
    tpc_discharge_instructions,
    blvr_discharge_instructions,
    chest_tube_discharge_instructions,
    peg_discharge_instructions
%}
