{#
  file: templates/addons/chemical_cauterization_of_granulation_tissue.jinja
  Title: Chemical Cauterization of Granulation Tissue (CPT 17250)
  Category: MINOR PROCEDURES
  CPT: 17250
#}
{% macro render(ctx=None) -%}
Silver nitrate applicators (75% silver nitrate and 25% potassium nitrate) were moistened and applied directly to granulation tissue surrounding the stoma until the tissue was ablated. No complications were observed.
{%- endmacro %}
