{#
  file: templates/addons/endobronchial_biopsy.jinja
  Title: Endobronchial Biopsy (CPT 31625)
  Category: CORE DIAGNOSTIC / THERAPEUTIC BRONCHOSCOPY PROCEDURES
  CPT: 31625
#}
{% macro render(ctx=None) -%}
Endobronchial biopsies were obtained with hemostasis achieved. Tissue was submitted for pathology. No immediate bleeding was observed. Performed at [Airway Segment]. Lesion was successfully removed. Samples sent for [Testing type].
{%- endmacro %}
