{#
  file: templates/addons/eus_b.jinja
  Title: EUS-B (CPT 43237)
  Category: OTHER INTERVENTIONS
  CPT: 43237
#}
{% macro render(ctx=None) -%}
Linear EBUS scope advanced into esophagus. Mediastinal nodes visualized and sampled.
{%- endmacro %}
