{#
  file: templates/addons/indwelling_tunneled_pleural_catheter_placement.jinja
  Title: Indwelling Tunneled Pleural Catheter Placement (CPT 32550)
  Category: PLEURAL PROCEDURES
  CPT: 32550
#}
{% macro render(ctx=None) -%}
Tunneled pleural catheter placed with cuff secured. Drainage achieved. Catheter secured.
{%- endmacro %}
