{#
  file: templates/addons/intrapleural_fibrinolysis.jinja
  Title: Intrapleural Fibrinolysis (CPT 32561/32562)
  Category: PLEURAL PROCEDURES
  CPT: 32561, 32562
#}
{% macro render(ctx=None) -%}
tPA/DNase instilled through chest tube or TPC. Dose and dwell time recorded.
{%- endmacro %}
