{#
  file: templates/addons/medical_thoracoscopy.jinja
  Title: Medical Thoracoscopy (CPT 32650/32653)
  Category: PLEURAL PROCEDURES
  CPT: 32650, 32653
#}
{% macro render(ctx=None) -%}
Thoracoscopic survey performed. Biopsies taken. Adhesiolysis/pleurodesis performed as indicated. Chest tube left in situ. Initial thoracoscopic survey demonstrates [findings]. Lysis of adhesion was performed.
{%- endmacro %}
