{#
  file: templates/addons/paracentesis.jinja
  Title: Paracentesis (CPT 49083)
  Category: OTHER INTERVENTIONS
  CPT: 49083
#}
{% macro render(ctx=None) -%}
Ultrasound guided paracentesis performed. Ascitic fluid aspirated and sent for analysis.
{%- endmacro %}
