{#
  file: templates/addons/peg_removal_exchange.jinja
  Title: PEG Removal/Exchange
  Category: OTHER INTERVENTIONS
  CPT: None
#}
{% macro render(ctx=None) -%}
Existing PEG tube removed or exchanged. New tube placed and secured.
{%- endmacro %}
