{#
  file: templates/addons/percutaneous_tracheostomy_revision.jinja
  Title: Percutaneous Tracheostomy Revision (CPT 31613)
  Category: TRACHEOSTOMY / UPPER AIRWAY PROCEDURES
  CPT: 31613
#}
{% macro render(ctx=None) -%}
Patient was intubated with ET tube. The bronchoscope was introduced through the ET tube. The ET tube was retracted into the subglottic space under direct visualization. The inferior border of the cricoid along with the proximal tracheal rings were visualized. Next, the anterior neck was prepped and draped in the usual sterile fashion. Lidocaine 1% 3ml was injected into the anterior neck. The prior tracheostomy tube was removed with minimal resistance. A J-wire was passed through the prior tracheostomy site, also visualized with the bronchoscope. The site was then dilated using the Blue Rhino dilator placed over the guiding catheter until the positioning mark was visualized via the bronchoscope. The blue Rhino dilator was then removed leaving the guiding catheter and guide wire assembly in place, all under direct visualization bronchoscopically.
{%- endmacro %}
