{#
  file: templates/addons/pigtail_catheter_placement.jinja
  Title: Pigtail Catheter Placement (CPT 32557)
  Category: PLEURAL PROCEDURES
  CPT: 32557
#}
{% macro render(ctx=None) -%}
CHEST ULTRASOUND FINDINGS: [As above]
{%- endmacro %}
