{#
  file: templates/addons/post_blvr_management_protocol.jinja
  Title: Post-BLVR Management Protocol
  Category: BLVR (BRONCHOSCOPIC LUNG VOLUME REDUCTION) PROCEDURES
  CPT: None
#}
{% macro render(ctx=None) -%}
Post-procedure COPD Endobronchial Valve Management Protocol

25%-40% of patients are expected to develop a pneumothorax

Most within 3-4 days
This is an expectation not an adverse event


A pneumothorax kit will be at the patient's bedside at all times
If there are new symptoms or any concerns:

Order a stat chest x-ray
Call the Interventional Pulmonary attending and MICU team while waiting for the CXR
Clinical judgment to place a chest tube may be needed in urgent/emergent situations


Continuous pulse oximetry and telemetry

Monitor for persistent desaturation ≥4% of baseline
Monitor for desaturation <90%
Monitor for tachypnea, arrhythmias, unexplained tachycardia, or unexplained hypotension



Day-to-Day Management:

Day 1 (Day of procedure):

Chest x-ray immediately post-procedure
Chest x-ray ~4 hours post-procedure
Bedrest
Resume home COPD inhalers/medications
Steroids and antibiotics given in OR (Day 1/3)


Day 2:

Chest x-ray at 6:00 am
Ambulate in the room with physical therapy
Continue home COPD inhalers/medications
Steroids and antibiotics PO (Day 2/3)


Day 3:

Daily chest x-ray at 6:00 am
Ambulate outside the room
Continue home COPD inhalers/medications
Steroids and antibiotics PO (Day 3/3)
Consider prolonged course or taper based on patient's condition


Day 4:

Daily chest x-ray at 6:00 am
Consider discharge
Discuss with interventional pulmonary before discharge
Set up clinical f/u with IP in two weeks
Continue all COPD medications and f/u with primary COPD doctor within 4 weeks




---

7. CRYO PROCEDURES

Transbronchial Cryobiopsy (CPT 31632)
{%- endmacro %}
