{#
  file: templates/addons/pre_anesthesia_assessment_for_moderate_sedation.jinja
  Title: Pre-Anesthesia Assessment for Moderate Sedation
  Category: CLINICAL ASSESSMENT AND FOLLOW-UP TEMPLATES
  CPT: None
#}
{% macro render(ctx=None) -%}
Prior to the procedure, the risks and benefits of the procedure and the sedation options and sedation-related risks were discussed with the patient/surrogate. All questions were answered and written informed consent was obtained.
{%- endmacro %}
