{#
  file: templates/addons/radial_ebus_survey.jinja
  Title: Radial EBUS Survey (CPT 31654)
  Category: NAVIGATION / ROBOTIC / EBUS PROCEDURES
  CPT: 31654
#}
{% macro render(ctx=None) -%}
Radial endobronchial ultrasound was used to confirm lesion location and characterize internal echogenicity and margins prior to sampling. ROSE cytology was performed when available. Performed to confirm that the location of the nodule is [Location]. The following features were noted: [REBUS Features].
{%- endmacro %}
