{#
  file: templates/addons/therapeutic_aspiration.jinja
  Title: Therapeutic Aspiration (CPT 31645/31646)
  Category: CORE DIAGNOSTIC / THERAPEUTIC BRONCHOSCOPY PROCEDURES
  CPT: 31645, 31646
#}
{% macro render(ctx=None) -%}
Successful therapeutic aspiration was performed to clean out the [Airway Segment] from [Aspirate type].
{%- endmacro %}
