{#
  file: templates/addons/thoravent_placement.jinja
  Title: Thoravent Placement
  Category: PLEURAL PROCEDURES
  CPT: None
#}
{% macro render(ctx=None) -%}
Thoravent catheter placed by trocar into pleural space for pneumothorax evacuation.
{%- endmacro %}
