{#
  file: templates/addons/thoracentesis.jinja
  Title: Thoracentesis (CPT 32555)
  Category: PLEURAL PROCEDURES
  CPT: 32555
#}
{% macro render(ctx=None) -%}
Ultrasound identified a pleural effusion. Following sterile prep and local anesthesia, thoracentesis was performed with [mL] of fluid removed. Samples were sent for analysis.
{%- endmacro %}
