{#
  file: templates/addons/transthoracic_needle_biopsy.jinja
  Title: Transthoracic Needle Biopsy (CPT 32408)
  Category: PLEURAL PROCEDURES
  CPT: 32408
#}
{% macro render(ctx=None) -%}
Core needle biopsy was performed with 18G core biopsy needle with [number] samples collected. Pre-biopsy ultrasound was done to select the site of the biopsy. Post-biopsy ultrasound was done to ensure no immediate pneumothorax or hemothorax.
{%- endmacro %}
