{#
  file: templates/addons/tunneled_pleural_catheter_removal.jinja
  Title: Tunneled Pleural Catheter Removal (CPT 32552)
  Category: PLEURAL PROCEDURES
  CPT: 32552
#}
{% macro render(ctx=None) -%}
Previous tunneled pleural catheter dissected free and removed. Site dressed.
{%- endmacro %}
